
Django==4.2.10
django-cors-headers
djangorestframework==3.14.0
ffmpeg-python
google-cloud-translate
gTTS
huggingface-hub
ipython
numpy
openai==1.65.1
PyAudio
pydub
soundfile
SpeechRecognition
tokenizers
torch
tqdm
transformers

