
Django==4.2.10
django-cors-headers
djangorestframework==3.14.0
ffmpeg-python
google-cloud-translate==3.20.1
gTTS
huggingface-hub
ipython
numpy
openai==1.65.1
pillow
pydub
scipy
soundfile
SpeechRecognition
torch
accelerate
transformers

